In [1]:
import pandas as pd

indice = ['uno','dos','tres','cuatro','cinco']
columnas = ['Raza','Puntos']
lista = [['Caniche',8.1],['Bulldog',7.3],['ChowChow',7.6],['Chihuahua',9.0],['Labrador',9.3]]

In [2]:

print('----------------------------')
print('--- Apartado 1            --')
print('----------------------------')

#Apartado 1: crear un dataframe df con la lista de razas, las columnas e índice
df=pd.DataFrame(lista,columns=columnas,index=indice)

print(df)

----------------------------
--- Apartado 1            --
----------------------------
             Raza  Puntos
uno       Caniche     8.1
dos       Bulldog     7.3
tres     ChowChow     7.6
cuatro  Chihuahua     9.0
cinco    Labrador     9.3

In [3]:
print('----------------------------')
print('--- Apartado 2            --')
print('----------------------------')

#Añadir una nueva columna 'PuntosAna' con la siguiente información puntos_ana = [61,75,82,95,99]
puntos_ana = [61,75,82,95,99]
df['PuntosAna']=puntos_ana

print(df)

----------------------------
--- Apartado 2            --
----------------------------
             Raza  Puntos  PuntosAna
uno       Caniche     8.1         61
dos       Bulldog     7.3         75
tres     ChowChow     7.6         82
cuatro  Chihuahua     9.0         95
cinco    Labrador     9.3         99

In [4]:
print('----------------------------')
print('--- Apartado 3            --')
print('----------------------------')

#Dividir la columna 'PuntosAna' entre 10 de modo que todas las puntuaciones queden en la misma escala

df.PuntosAna=df.PuntosAna.apply(lambda x: x/10)

print(df)

----------------------------
--- Apartado 3            --
----------------------------
             Raza  Puntos  PuntosAna
uno       Caniche     8.1        6.1
dos       Bulldog     7.3        7.5
tres     ChowChow     7.6        8.2
cuatro  Chihuahua     9.0        9.5
cinco    Labrador     9.3        9.9

In [5]:
print('----------------------------')
print('--- Apartado 4            --')
print('----------------------------')

#Añadir nuevos registros al dataframe lista2 = [['Samoyedo',9.2,8.9],['Pinscher',8.1,6.7]]
#Como índices usar 'nuevo1' y 'nuevo2' 
lista2 = [['Samoyedo',9.2,8.9],['Pinscher',8.1,6.7]]
indice2=['nuevo1','nuevo2']
columnas = ['Raza','Puntos','PuntosAna']
df2=pd.DataFrame(lista2,columns=columnas,index=indice2)
#df=df.append(df2) #indica que está obsoleto con un warning que recomienda concat
df=pd.concat([df,df2])

print(df)

----------------------------
--- Apartado 4            --
----------------------------
             Raza  Puntos  PuntosAna
uno       Caniche     8.1        6.1
dos       Bulldog     7.3        7.5
tres     ChowChow     7.6        8.2
cuatro  Chihuahua     9.0        9.5
cinco    Labrador     9.3        9.9
nuevo1   Samoyedo     9.2        8.9
nuevo2   Pinscher     8.1        6.7

In [6]:

print('----------------------------')
print('--- Apartado 5            --')
print('----------------------------')

#Crea la columna 'Media' para poder ver la puntuación media para cada raza.
df['Media']=(df.Puntos+df.PuntosAna)/2 

print(df)

----------------------------
--- Apartado 5            --
----------------------------
             Raza  Puntos  PuntosAna  Media
uno       Caniche     8.1        6.1   7.10
dos       Bulldog     7.3        7.5   7.40
tres     ChowChow     7.6        8.2   7.90
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05
nuevo2   Pinscher     8.1        6.7   7.40

In [7]:

print('----------------------------')
print('--- Apartado 6            --')
print('----------------------------')
#Eliminar la fila cuyo índice es 'dos'
df=df.drop('dos')

print(df)

----------------------------
--- Apartado 6            --
----------------------------
             Raza  Puntos  PuntosAna  Media
uno       Caniche     8.1        6.1   7.10
tres     ChowChow     7.6        8.2   7.90
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05
nuevo2   Pinscher     8.1        6.7   7.40

In [8]:
print('----------------------------')
print('--- Apartado 7            --')
print('----------------------------')
#deciden que la decisión va a estar entre chihuahua, labrador y samoyedo, por lo que deciden obtener sólo esas filas del DataFrame
df=df[2:5] 

print(df)

----------------------------
--- Apartado 7            --
----------------------------
             Raza  Puntos  PuntosAna  Media
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05

In [9]:
print('----------------------------')
print('--- Apartado 8            --')
print('----------------------------')
#ver información estadística sobre las filas que les han quedado
print(df.describe())

----------------------------
--- Apartado 8            --
----------------------------
         Puntos  PuntosAna     Media
count  3.000000   3.000000  3.000000
mean   9.166667   9.433333  9.300000
std    0.152753   0.503322  0.278388
min    9.000000   8.900000  9.050000
25%    9.100000   9.200000  9.150000
50%    9.200000   9.500000  9.250000
75%    9.250000   9.700000  9.425000
max    9.300000   9.900000  9.600000